<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About</title>
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css">
</head>
<body class="container">
    <img src="/logo.jpg" alt="Shakira">
    <nav class ="navbar navbar-expand navbar-light">
        <ul class ="navbar-nav ml-auto">
            <li class ="nav-item">
                <a href="/home" class="nav-link">Home</a>
            </li>
            <li class ="nav-item">
                <a href="/photo_gallery" class="nav-link">Photo Gallery</a>
            </li>
            <li class ="nav-item">
                <a href="/works" class="nav-link">Works</a>
            </li>
        </ul>
    </nav>
    <br>
    <br>
    <h1>A few facts about Shakira</h1>
    <br>
    <br>
    <p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Her mixture is a mix of Lebanese, Colombian and Italian</li>
            <li class="list-group-item">Her full name is Shakira Isabel Mebarak Ripoll and "Shakira" means grateful in Arabic</li>
            <li class="list-group-item">She has 7 siblings</li>
            <li class="list-group-item">She is the most successful Colombian musician of all time</li>
            <li class="list-group-item">One of her most successful songs was "Whenever, wherever"</li>
          </ul>
    </p>
    <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="card border">
              <img src="/shak1.jpg" class="card-img-top shadow" alt="Picture1">
              <div class="card-body">
                <p class="card-text">Shakira does not have any tattoos</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card border-0">
              <img src="/shak2.jpg" class="card-img-top shadow" alt="Picture2">
              <div class="card-body">
                <p class="card-text">Most of the time she performs without any shoes on</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card border-0">
              <img src="/shak3.jpg" class="card-img-top shadow" alt="Picture3">
              <div class="card-body">
                <p class="card-text">She is in a relationship with Gerard Pique</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
