<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css">
</head>
<body class="container">
    <img src="/Logo.png" alt="Shakira">
    <nav class ="navbar navbar-expand navbar-light">
        <ul class ="navbar-nav ml-auto">
            <li class ="nav-item">
                <a href="/home" class="nav-link">Home</a>
            </li>
            <li class ="nav-item">
                <a href="/photo_gallery" class="nav-link">Photo Gallery</a>
            </li>
            <li class ="nav-item">
                <a href="/works" class="nav-link">Works</a>
            </li>
            <li class ="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
        </ul> 
    </nav>
    <br>
    <br>
    <h1>Welcome to the Fanpage of Shakira created by Mel</h1>
    <br>
    <p>On this page you will find different random information about Shakira such as some unknown facts about her, which ones were here greates works and achievements and I hopy oyu will enjoy the pictures included. But first lets get started with some clean info about her:</p>
    <ul>
        <li>
            Shakira was born on 2nd of February 1977 in Barranquilla, Colombia
        </li>
        <li>
            She was first in a partnership with Antonio de la Rua from 2000-2010 and since 2011 is dating Gerard Piqué who plays for FC Barcelona
        </li>
        <li>
            She has got 2 children, Milan and Sasha
        </li>
        <li>
            She is very well known for her belly dancing skills
        </li>
        <li>
            In 1984 she was even an actor in a Colombian telenovela
        </li>
    </ul>
    <img src="/shak1.jpg" alt="first picture">

</body>
</html>