<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Works</title>
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="/style.css">
</head>
<body class="container">
    <img src="Pictures/Logo.png" alt="Shakira">
    <nav class ="navbar navbar-expand navbar-light">
        <ul class ="navbar-nav ml-auto">
            <li class ="nav-item">
                <a href="/home" class="nav-link">Home</a>
            </li>
            <li class ="nav-item">
                <a href="/photo_gallery" class="nav-link">Photo Gallery</a>
            </li>
            <li class ="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
        </ul>
    </nav>
    <br>

</body>
</html>